h1 {
  text-align: center;
  margin: 2rem 0 !important;
  font-size: 80px !important;
  color: rgb(51, 48, 33);
}

.board {
  background-color: rgb(51, 48, 33);
  height: 490px;
  width: 490px;
  margin: auto;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.tile {
  background-color: rgb(212, 212, 212);
  color: rgb(51, 48, 33);
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-size: 60px;
}

.tile:hover {
  background-color: rgb(224, 224, 224);
}

.restart {
  margin: 1rem auto;
  display: block !important;
}

.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.603) !important;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  height: 300px;
  width: 300px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content input {
  margin-top: 5px;
}

.modal-content label {
  margin-top: 10px;
}

.modal-content input[type="submit"] {
  margin: 2rem 25% 0;
}

.hidden {
  display: none;
}

.display-box {
  background-color: rgb(247, 247, 247);
  color: rgb(51, 48, 33);
  text-align: center;
  margin: 1rem 10% 0;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.171);
  font-size: 20px;
  letter-spacing: 2px;
}
