h1 {
  text-align: center;
  margin: 2rem 0 !important;
  font-size: 80px !important;
  color: rgb(51, 48, 33);
}

.board {
  background-color: rgb(51, 48, 33);
  height: 490px;
  width: 490px;
  margin: auto;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.tile {
  background-color: rgb(212, 212, 212);
  color: rgb(51, 48, 33);
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-size: 60px;
}

.tile:hover {
  background-color: rgb(224, 224, 224);
}
